<button class="close" mat-button (click)="onNoClick()">X</button>
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  background:red;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
